<div class="profile_content" full-width>
    <div class="profile_container" width-75 margin-auto>
        <div class="profile_data" display-flex justify-content-space-between>
            <div display-flex align-items-center>
                <div class="img_content"></div>
                <div class="text_content">
                    <p class="text_name" font-weight-bold font-family-Open-Sans>{{clientData?.fullName}}fbfbfbfb</p>
                    <div class="user_room" display-flex align-items-center>
                        <i class="material-icons">
                            room
                        </i>
                        <p font-weight-bold font-family-Roboto class="text_item">{{clientData?.address[0]?.text}}ngfnfgnfg</p>
                    </div>
                    <div class="user_call" display-flex align-items-center>
                        <i class="material-icons">
                            call
                        </i>
                        <p class="text_number" font-weight-bold font-family-Roboto>
                            {{clientData?.phoneNumber}}+94598259</p>
                    </div>
                </div>
            </div>
            <div class="add_content" (click)="openUserUpdateModal()">
                <button class="button_content" full-width full-height display-flex>
                    <span font-family-Open-Sans margin-auto>add</span>
                </button>
            </div>
        </div>
    </div>
    <div [ngSwitch]="tab">
        <div class="tabs_content" full-width display-flex>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==1}" (click)="showNotification()"
                cursor-pointer>
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==1}">Notification</span>
            </div>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==2}" cursor-pointer (click)="showOrderHistory()">
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==2}">Order History</span>
            </div>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==3}" cursor-pointer (click)="showTrackDelivery()">
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==3}">Track Delivery</span>
            </div>
        </div>
        <div *ngSwitchCase="1">
            <app-notification-list>
                <app-notification-list-item *ngFor="let item of items_notification" [label]="item.label" [data]="item.data"></app-notification-list-item>
            </app-notification-list>
        </div>
        <div *ngSwitchCase="2">
            <app-order-list [loading]="loading">
                <app-order-list-item *ngFor="let item of orderInfo" [orderInfo]="item" ></app-order-list-item>
            </app-order-list>
        </div>

        <div *ngSwitchCase="3">
            <app-shipping-addresses-tab></app-shipping-addresses-tab>
        </div>

    </div>

</div>