<div class="profile_content" full-width>
<div class="profile_conteiner">
    <div class="client_data"  display-flex justify-content-space-between>
        <div  class="client" display-flex>
            <div class="client_image" full-width [ngStyle]="{'background-image':'url('+clientImage+')'}"></div>
            <div class="client_info">
                    <div class="client_fullName" display-flex justify-content-space-between>
                            <span class="fullName" font-weight-bold font-family-Open-Sans> {{clientData?.fullName}}</span>
                        </div>
                        <div class="client_addres"  display-flex>
                                <i class="material-icons">
                        room
                        
                                    </i>
                                    <span class="addres" ont-weight-bold font-family-Roboto>{{clientData?.address[0]?.text}}</span>
                        </div>
                        <div class="profile_phone"  display-flex>
                                <i class="material-icons">
                                        call
                                    </i>
                        <span class="phone" font-family-Roboto> {{clientData?.phoneNumber}}</span>

                        </div>

                        <div class="create"  display-flex (click)="openNewPhoneNumberModal()">
                            <i class="material-icons" cursor-pointer>
                                    create
                                </i>

                    </div>
            </div>
        </div>
            <div class="add_content" (click)="openUserUpdateModal(clientData)">
                    <button class="button_content" full-width full-height display-flex>
                        <span font-family-Open-Sans margin-auto>add</span>
                    </button>
                </div>
    </div>
</div>
    <div [ngSwitch]="tab">
        <div class="tabs_content" full-width display-flex>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==1}" (click)="showNotification()"
                cursor-pointer>
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==1}">Notification</span>
            </div>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==2}" cursor-pointer (click)="showOrderHistory()">
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==2}">Order History</span>
            </div>
            <div class="notification" full-height display-flex [ngClass]="{'active_tab':tab==3}" cursor-pointer (click)="showTrackDelivery()">
                <span class="tab_label" margin-auto [ngClass]="{'active_tab_text':tab==3}">Track Delivery</span>
            </div>
        </div>
        <div *ngSwitchCase="1">
            <app-notification-tab></app-notification-tab>

        </div>
        <div *ngSwitchCase="2">
            <app-orders-tab></app-orders-tab>
        </div>

        <div *ngSwitchCase="3">
            <app-shipping-addresses-tab [clientId]="clientId"></app-shipping-addresses-tab>
        </div>

    </div>
</div>