
<div class="detal_item" full-width>
    <div class="card_conteiner" display-flex full-width>
        <div class="left_item" display-flex>
            <div class="image_item" [ngStyle]="{'background-image':'url('+'http://192.168.0.111:4000/static/company/'+itemImage+')'}"></div>
            <p class="item_text" font-weight-bold font-family-Roboto margin-auto>{{cardGoodsInfo?.name}}</p>
        </div>
        <div class="right_item" display-flex>
            <p class="price_item" font-weight-bold font-family-Roboto>{{cardGoodsInfo?.price}}</p>
            <span class="remove" font-weight-bold font-family-Open-Sans>-</span>
            <p class="quarity_item" font-weight-bold font-family-Open-Sans>{{cardGoodsInfo?.count}}</p>
            <span class="add" font-weight-bold font-family-Open-Sans>+</span>
            <i class="material-icons close" (click)="onClickDelete()">
                close
            </i>
        </div>
    </div>
</div>