<div class="detal_item">
    <div class="card_item" display-flex>
        <div class="image_item"  [ngStyle]="{'background-image':'url('+'http://192.168.0.111:4000/static/company/'+itemImage+')'}"></div>
        <div class="card_text_item">
            <p class="item_text" font-weight-bold font-family-Roboto>{{cardGoodsInfo?.name}}</p>
            <p class="card_text" font-family-Roboto>{{cardGoodsInfo?.title}}</p>
        </div>
        <p class="price_item" font-weight-bold font-family-Roboto>{{cardGoodsInfo?.price}}</p>
        <span class="remove" font-weight-bold font-family-Open-Sans>-</span>
        <p class="quarity_item" font-weight-bold font-family-Open-Sans>{{cardGoodsInfo?.count}}</p>
        <span class="add" font-weight-bold font-family-Open-Sans>+</span>
    </div>
    <div class="card_conteiner"></div>
</div>