<app-delivery-list>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>

    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>
    <app-delivery-list-item full-width></app-delivery-list-item>

    <app-delivery-list-item full-width></app-delivery-list-item>
</app-delivery-list>