<!-- <div class="payment_content" margin-auto width-75>
    <div class="payment_data">
        <div class="data_top">
        </div>
        <div class="top_conteiner">
            <div class="data_name" display-flex>
                <div class="redius_top" display-flex>
                    <div class="radius"></div>
                </div>
                <span class="text">{{userData.fullName}}</span>
            </div>
            <div class="data_address" display-flex>
                <i class="material-icons">
                    place
                </i>
                <span class="text">{{userData.address.text}}</span>
            </div>
            <div class="data_phone"  display-flex>
                <i class="material-icons">
                    local_phone
                </i>
                <span class="text" >{{userData.phoneNumber}}</span>
            </div>
            <div class="edit" display-flex>
                <i class="material-icons" (click)="openAddressModal(userData)">
                    edit
                </i>
                <span class="text" >Edit</span>
            </div>
        </div>
    </div>
    <div class="paynment_middle" display-flex>
        <i class="material-icons add_icon">
            add
        </i>
        <p class="text_new_address">Add new address</p>

    </div>
    <div class="line" full-width></div>
    <div class="card_tab" display-flex>
        <input type="checkbox" name="vehicle" value="Bike" (click)="showPayment()">
        <p class="card_text">Card</p>
        <input type="checkbox" name="vehicl" value="Bik" class="chackbox_cash" (click)="closePayment()">
        <p class="cash_text">Pay in cash</p>

    </div>
    <div class="top_content" width-75>
        <div class="card_item" display-flex  *ngIf="cardPayment">
            <div class="item" *ngFor="let item of cardItem" [ngStyle]="{'background-image':'url('+item.image+')'}"></div>
        </div>

        <div class="input_form">
            <div class="form_group">
                <span class="form_text" font-weight-bold>Card number</span>
                <input class="input_card_number" display-flex full-width>
            </div>
            <div>
            <div class="form_group_item"  display-flex justify-content-space-between>
                <div class="form_group">
                    <span class="form_text_varieble" font-weight-bold>Varieble</span>
                    <input class="input_card_varieble" display-flex>
                </div>

                <div class="form_group">
                    <span class="form_text_security" font-weight-bold>Security</span>
                    <input class="input_card_security" display-flex>
                </div>

            </div>
        </div>
            <div  class="form_group_item" display-flex justify-content-space-between>
                <div class="form_group">
                    <span class="form_text_cardowner" font-weight-bold>Cardowner</span>
                    <input class="input_card_cardowner" display-flex>
                </div>
                <div class="form_group">
                    <span class="form_text_cardowner" font-weight-bold>Cardowner</span>
                    <input class="input_card_cardowner" display-flex>
                </div>
            </div>
        </div>
        <div class="save_content">
            <div display-flex>

                <input type="checkbox" name="vehicle" value="Bike">
                <p class="save_text">Save the card</p>
            </div>
            <div class="line_content" full-width></div>

            <div class="button" display-flex (click)="openDone()">
                <button class="button_confirm" display-flex><span margin-auto color-white
                        font-weight-bold>Confirm and pey</span></button>
            </div>
        </div>
    </div>


</div> -->

<section>
    <div class="container">
        <div class="payment_content">
            <div class="paynment_middle">
                <input type="checkbox" name="vehicle" value="Bike" (click)="showPayment()">
                <p class="type">{{'card' | translate}}</p>
                <input type="checkbox" name="vehicl" value="Bik" class="chackbox_cash" (click)="closePayment()">
                <p class="type">{{'pay_in_cash' | translate}}</p>
            </div>
            <div class="cart_content" *ngIf="cardPayment">
                <div class="cart_item" *ngFor="let item of cardItem"
                    [ngStyle]="{'background-image':'url('+item.image+')'}"></div>
            </div>

            <form class="form_content">
                <div class="container">
                    <div class="form_conteiner" full-width>
                        <div class="form" full-width>
                            <label class="label">{{'card_number' | translate}}</label>
                            <div class="form_content" full-height display-flex>
                                <input class="input" placeholder="{{'card_number' | translate}}">
                            </div>
                        </div>
                        <div class="form_conteiner paymeny_form" full-width display-flex justify-content-space-between>
                            <div class="form paymeny_form_item" width-40>
                                <label class="label">{{'Varieble' | translate}}</label>
                                <div class="form_content" full-height display-flex>
                                    <input class="input" placeholder="{{'Varieble' | translate}}">
                                </div>
                            </div>
                            <div class="form  paymeny_form_item" width-40>
                                <label class="label">{{'Security' | translate}}</label>
                                <div class="form_content" full-height display-flex>
                                    <input class="input" placeholder="{{'Security' | translate}}">
                                </div>
                            </div>
                        </div>
                        <div class="form_conteiner paymeny_form" full-width display-flex justify-content-space-between>
                            <div class="form  paymeny_form_item" width-40>
                                <label class="label">{{'Cardowner' | translate}}</label>
                                <div class="form_content" full-height display-flex>
                                    <input class="input" placeholder="{{'Cardowner' | translate}}">
                                </div>
                            </div>
                            <div class="form  paymeny_form_item" width-40>
                                <label class="label">{{'Cardowner' | translate}}</label>
                                <div class="form_content" full-height display-flex>
                                    <input class="input" placeholder="{{'Cardowner' | translate}}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div class="save_content" full-width display-flex>
                <input type="checkbox" name="vehicle" value="Bike" (click)="showPayment()">
                <p class="type">{{'save_the_card' | translate}}</p>

            </div>
     
                    <button class="button" display-flex margin-auto (click)="openDone()">
                            <span margin-auto>{{'confirm_and_pey' | translate}}</span>
                        </button>
            
        </div>
    </div>
</section>