.review_content {
    .review_top {
        margin-left: 101px;
        margin-top: 61px;
        .review_top_item {
            .text_item {
                margin-top: 26px;
                font-size: 65px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.12;
                letter-spacing: normal;
                text-align: left;
                color: #444444;
                .reiting_count {
                    margin-bottom: 0px;
                    margin-top: 8px;
                }
                .star_item {
                    margin-left: 30px;
                    i {
                        font-size: 16px;
                        color: #ff6f00;
                    }
                }
                .reiting_text {
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #706f6f;
                    .text {
                        margin-bottom: 0px;
                        margin-top: 20px;
                        width: 251px;
                    }
                }
            }
        }
    }
    .review_item {
        margin-top: 47px;
        &:first-child {
            margin-top: 498px;
        }
    }
    .review_conteiner {
        .review_image {
            width: 85px;
            height: 85px;
            border-radius: 4px;
            background-image: url("/assets/images/user.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .stars_items {
            margin-left: 16px;
            margin-top: 19px;
            i {
                font-size: 16px;
                color: #ff6f00;
            }
            .review_text {
                font-family: 'Roboto';
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #706f6f;
                .review_text_item {
                    width: 687px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                .data_item {
                    margin-left: 20px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
}