<div class="card_content" full-width>
    <div class="card_conteiner">

        <app-card-list>
            <app-card-list-item *ngFor="let item of cardItem" [cardInfo]="item"></app-card-list-item>
        </app-card-list>
    </div>
    <div class="card_conteiner">

        <app-card-list>
            <app-card-list-item *ngFor="let item of cardItem" [cardInfo]="item"></app-card-list-item>
        </app-card-list>
    </div>
    <div class="card_conteiner">

        <app-card-list>
            <app-card-list-item *ngFor="let item of cardItem" [cardInfo]="item"></app-card-list-item>
        </app-card-list>
    </div>
</div>