@mixin label {
    color: #aeaeae;
    word-break: break-all;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans';
}

@mixin text ($color, $fontSize) {
    font-size: $fontSize;
    font-style: none;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $color;
    word-break: break-all;
    text-decoration: none;
}

@mixin button($backgroundColor, $padding, $color) {
    color: $color;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
    background-color: $backgroundColor;
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: $padding;
}

@mixin flex-spase-between{
    width:100%;
    display: flex;
    justify-content: space-between;
}

@mixin after-before($margin,$border){
    content: "";
    display: block;
    width: 100%;
    border:$border;
    margin:$margin;
}

@mixin leftRs($fontSize)  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: auto 0;
    cursor: pointer;
    i {
        font-size: $fontSize;
    }
}

@mixin  rightRs ($fontSize){
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    cursor: pointer;
    margin: auto 0;
    width: fit-content;
    height: fit-content;
    i {
        font-size: $fontSize;
    }
}