<div class="footer_content" full-width>
    <div class="footer_conteiner" margin-auto display-flex>

        <div class="logo_content">
            <img class="image" src="assets/images/log.png" full-width>

            <span font-weight-bold font-family-Roboto> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                porro iusto, sit molestias
                voluptas
                vero optio obcaecati, velit reiciendis expedita laboriosam, repellendus suscipit provident dolores
                sed
                officia vel. Quasi, autem.</span>


        </div>

        <div class="footer_item">
            <span color-white font-weight-bold font-family-Open-Sans>QUICK LINKS</span>
            <p class="text_item" font-family-Roboto>Home</p>
            <p class="text_items" font-family-Roboto>Contacts</p>
            <p class="text_items" font-family-Roboto>Special</p>
        </div>
        <div class="footer_item_categories">
            <span color-white font-weight-bold font-family-Open-Sans>CATEGORIES</span>
            <p class="text_item" font-family-Roboto>Shop</p>
            <p class="text_items" font-family-Roboto>Restrant</p>
            <p class="text_items" font-family-Roboto>All</p>
        </div>
        <div class="footer_item_categories" >
            <span color-white font-weight-bold font-family-Open-Sans>ABOUT</span>
            <p class="text_item" font-family-Roboto><i class="material-icons" >
                    call
                </i>+37494565656</p>

            <p class="text_items" font-family-Roboto> <i class="material-icons">
                        email
                    </i>@Annaniksteam.com</p>

        </div>
    </div>
</div>