<footer>
    <div class="footer_content">
        <div class="container">
            <div class="footer_conteiner">
                <div class="description">
                    <img class="image" full-width  src="assets/images/logo.png">
                    <p class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ut facere at sed
                        explicabo nihil ea odio a eaque, quae vitae consectetur fugit minus voluptatem reprehenderit
                        numquam quaerat aliquam aut?</p>
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <div class="menu_item">
                                <li class="type">{{"QUICK_LINKS" | translate}}</li>
                                <li class="title">{{"home" | translate}}</li>
                                <li class="title">{{"contact" | translate}}</li>
                                <li class="title">{{"special" | translate}}</li>
                        </div>
                        <div class="menu_item">
                                <li class="type">{{"CATEGORIES" | translate}}</li>
                                <li class="title">{{"shop" | translate}}</li>
                                <li class="title">{{"restaurant" | translate}}</li>
                                <li class="title">{{"all" | translate}}</li>
                        </div>
                        <div class="menu_item">
                                <li class="type">{{"about" | translate}}</li>
                                <li class="title">+216(0)40 4444 5757</li>
                                <li class="title">annaniks@Com</li>
                        </div>
                       
                       
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>