@import "../../../../../../assets/scss/mixin.scss";
@import "../../../../../../assets/scss/global.scss";

.footer_content {
    width: 100%;
    background: #444444;

    .footer_container {
        display: flex;
        width: 75%;
        padding: 60px 0;
        margin: auto;
        flex-wrap: wrap;

        .description {
            width: 300px;

            .title {
                @include text(#919191, 12px);
            }
        }

        .nav {
            margin-left: 100px;
            width: calc(100% - 400px);

            .menu {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .menu_item {
                    width: 33.33333%;
                  margin-top: 20px ;

                    .type {
                        @include text(#ffffff, 15px);
                        font-weight: bold;

                    }

                    .title {
                        @include text(#919191, 12px);
                        line-height: 8px;
                        cursor: pointer;
                        margin-top: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1400px) and (min-width:550px)  {

} 
@media only screen and (max-width:1400px){
    .menu_item{
        width: 50% !important;
    }
}
@media only screen and (max-width:920px){
    .nav {
        margin-left:0px !important;
        width:100% !important;
}
}

@media only screen and (max-width:550px){
    .menu_item,.description {
        width:100% !important;
}
.menu{
    flex-direction: column !important;
}
}