<!-- <div class="footer_content" full-width>
    <div class="footer_conteiner" width-75 margin-auto display-flex>
        <div class="logo_content">
            <img class="image" src="assets/images/LOGO.png" full-width>
            <div class="text_description">
                <p class="footer_text" font-weight-bold font-family-Roboto full-width>Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Quisquam inventore ad obcaecati error
                    expedita sunt corporis eius nihil aut at, assumenda explicabo. Enim veritatis iusto facilis ut vero
                    tempora. Nobis.</p>
            </div>
        </div>
        <div class="footer_item" display-flex>
            <div class="top_item" display-flex>
                <div class="text_links">
                    <span class="quick_links" color-white font-weight-bold font-family-Open-Sans>QUICK LINKS</span>
                    <div class="links_item">
                        <p class="item" *ngFor="let item of linksItem" font-family-Roboto>{{item.title}}</p>
                    </div>
                </div>
                <div class="text_categoris">
                    <span class="categoris_link" color-white font-weight-bold font-family-Open-Sans>CATEGORIES</span>
                    <div class="links_item">
                        <p class="item" *ngFor="let item of linksItem" font-family-Roboto>{{item.qategorisTitle}}</p>

                    </div>
                </div>
            </div>


            <div class="text_about">
                <span class="about_link" color-white font-weight-bold font-family-Open-Sans>About</span>
                <div class="links_item">
                   
                    <p class="item" *ngFor="let item of aboutLink" font-family-Roboto> <i class="material-icons">
                            {{item.icon}}
                        </i>{{item.aboutTitle}}</p>

                </div>
            </div>
        </div>
    </div>
</div> -->


<footer>
    <div class="footer_content">
        <div class="container">
            <div class="footer_conteiner">
                <div class="description">
                    <img class="image" full-width  src="assets/images/LOGO.png">
                    <p class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ut facere at sed
                        explicabo nihil ea odio a eaque, quae vitae consectetur fugit minus voluptatem reprehenderit
                        numquam quaerat aliquam aut?</p>
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <div class="menu_item">
                                <li class="type">{{"QUICK_LINKS" | translate}}</li>
                                <li class="title">{{"home" | translate}}</li>
                                <li class="title">{{"contact" | translate}}</li>
                                <li class="title">{{"special" | translate}}</li>
                        </div>
                        <div class="menu_item">
                                <li class="type">{{"CATEGORIES" | translate}}</li>
                                <li class="title">{{"shop" | translate}}</li>
                                <li class="title">{{"restaurant" | translate}}</li>
                                <li class="title">{{"all" | translate}}</li>
                        </div>
                        <div class="menu_item">
                                <li class="type">{{"about" | translate}}</li>
                                <li class="title">+216(0)40 4444 5757</li>
                                <li class="title">annaniks@Com</li>
                        </div>
                       
                       
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>