.menu_content {
    margin-top: 69.4px;
    width: 737px;
    .line-count {
        height: 0;
        border: solid 2px #c5c3c3;
        margin-top: 34.4px;
    }
    .meal_content {
        width: 685.5px;
        margin-top: 34.4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23); //   border: solid 1px #707070;
        background-color: #ffffff;
        .meal_images {
            height: 220.3px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/assets/images/wine.jpg");
        }
        .meal_text {
            margin-left: 30.5;
            margin-top: 6.1px;
            font-size: 22px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            color: #191919;
            .meal_text_item_one {
                margin-bottom: 0px;
                margin-top: 0px;
            }
            .meal_text_item_two {
                margin-top: 11.6px;
                display: block;
                word-wrap: break-word;
                white-space: normal;
                width: 255px;
                font-size: 14px;
                color: #cfcfcf;
            }
        }
    }
}