<div class="menu_content" margin-auto>
    <div>
        <div class="type_content" margin-auto>
            <img class="type_image" position-relative [src]="image" />
            <div class="type_text">
                <p class="type_text_item_one" color-black color-white font-weight-bold font-family-Roboto>
                    {{goodTypeInfo?.name}}</p>
                <span class="type_text_item_two" font-family-Roboto>{{goodTypeInfo?.description}}</span>
            </div>
        </div>
    </div>
</div>