.paginator_content {
    .paginator_conteiner {
        justify-content: flex-end;
        .paginator_item {
            i {
                font-size: 22px;
                color: #444444;
            }
            .item {
                font-size: 15px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: grey;
                cursor: pointer;
            }
        }
    }
}