<div class="left_menu">
    <div class="left_content" display-flex>
        <div class="left_conteiner" width-75 margin-side-auto>
            <div class="left_item" display-flex *ngFor="let item of menuItem;let ind=index">
                <div class="input_item">
                    <input type="checkbox" class="checkbox">

                </div>
                <div class="filters_item">
                    <p class="filter_name" font-family-Open-Sans font-weight-bold>{{item.label}}</p>
                </div>
            </div>
        </div>
    </div>
</div>