<div class="left-menu">
    <div class="logo">
        <img src="assets/images/logo.png">
    </div>
    <div class="menu_content">
        <div class="menu_item" color-white *ngFor="let item of menuItem;let ind=index">
            <div routerLink="{{item.routerLink}}" routerLinkActive="item_active" full-width display-flex>
                <span font-weight-bold font-family-Roboto>{{item.label}}</span>
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </div>
        </div>
    </div>
</div>