<div class="card_content" margin-control>
    <div class="card_conteiner">

        <app-card-list  *ngFor="let item of cardInfo" [cardInfo]="item">
            <app-card-list-item *ngFor="let good of item.goods" [cardGoodsInfo]="good" [cardGoodsImageItem]="good.images"></app-card-list-item>
        </app-card-list>
        <div class="total" display-flex width-75 >
            <app-total-cost [totalAmoutSum]="totalSum" (byAll)="byAllEvent($event)"></app-total-cost>
        </div>
    </div>
    
</div>
