<div class="card_content" margin-control>
    <div class="card_conteiner" *ngIf="cardInfo.length>0 && loading==false">

        <app-card-list  *ngFor="let item of cardInfo" [cardInfo]="item" (deleted)="deletedOrder($event)" >
            <app-card-list-item *ngFor="let good of item.goods" [cardInfo]="item" [cardGoodsInfo]="good" [cardGoodsImageItem]="good.images" [cardInfoOrderGoodId]="good.orderGoodId" (deleted)="deletedOrder($event)"></app-card-list-item>
        </app-card-list>
        <div class="total" display-flex>
            <app-total-cost [totalAmoutSum]="totalSum" (byAll)="byAllEvent($event)"></app-total-cost>
        </div>
    </div>
    <div class="card_empty" *ngIf="cardInfo.length==0 && loading==false">
        <p font-family-Open-Sans>YOUR CHART IS EMPTY</p>
        <div >
            <button class="button_item" routerLink="/home/information"><span margin-auto color-white font-weight-bold>Go main page</span></button>
        </div>
    </div>
</div>
