@import "../../../../../../../../assets/scss/mixin";  

.search_content{
@include flex-spase-between();
margin-top: 50px;
.search_container{
    width: calc(100% - 240px);
    margin-left: 50px;
}
}

app-goods-list-item{
    width: 50%;
    padding: 1.2em;
}

@media only screen and (max-width:1400px){
    .search_container {
        flex-direction: column !important;
    }
    app-goods-list-item{
        width: 50% !important;
    }
}

@media only screen and (max-width:900px){
    .search_container{
        width: 100% !important;
        margin: auto !important;
    }
}