<section full-width>
    <div class="search_content">
        <app-filters-list></app-filters-list>
        <div class="search_container">
            <app-goods-list *ngIf="!loading">
                <a class="goods-list-item" [routerLink]="'/'+companyId+'/products/'+item.id" *ngFor="let item of goods" full-width>
                    <app-goods-list-item [goodInfo]="item" [goodsImage]="item.images">
                    </app-goods-list-item>
               
                </a>
            </app-goods-list>
            <empty-result *ngIf="goods.length==0 && !loading"></empty-result>
            <app-skeletion-list *ngIf="loading" full-width display-flex justify-content-space-between>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'good'"></app-skeletion-list-item>
            </app-skeletion-list>
            <app-paginator [page]="page" [count]="count" [pageLength]="pageLength" (paginate)="paginate($event)"></app-paginator>
        </div>
    </div>
</section>