@import "../../../../../../../../assets/scss/mixin";

.search_content {
  @include flex-spase-between();
  margin-top: 50px;
  .search_container {
    width: calc(100% - 240px);
    margin-left: 50px;
  }
}

.goods-list-item,
app-skeletion-list-item {
  width: 50%;
  padding: 1.2em;
}

<<<<<<< HEAD
@media only screen and (max-width:1400px){
    .search_container {
        flex-direction: column !important;
    }
    app-goods-list-item{
        width: 50% !important;
    }
=======
@media only screen and (max-width: 1400px) {
  .search_container {
    flex-direction: column !important;
  }
  .goods-list-item,
  app-skeletion-list-item {
    width: 100% !important;
  }
>>>>>>> a42e40cb1afea4f833b8217ddfabf2d0b61e1ea2
}

@media only screen and (max-width: 900px) {
  .search_container {
    width: 100% !important;
    margin: auto !important;
  }
}
