.review_content {
    .review_conteiner {
        .top_content {
            margin-top: 26px;
            .reviw_content {
                .review {
                    font-size: 65px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.12;
                    letter-spacing: normal;
                    text-align: left;
                    color: #444444;
                    .rating {
                        margin-top: 30px;
                    }
                }
                .reviw_messages {
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #706f6f;
                }
                .chart {
                }
            }
        }
    }
}

:host /deep/.ngx-charts{
    float: none;
}