<section full-width>
    <header>
        <app-slider [sliderMode]="1"></app-slider>
    </header>
    <div class="product_type_content">
        <app-menu></app-menu>
        <div class="product_type_conteiner">
            <div class="slider_contnet">
                <app-slider class="slider" [sliderMode]="2" [items]="sliderProducts"></app-slider>
            </div>
            <app-goodType-list>
                <app-goodType-list-item *ngFor="let item of goodTypes" [goodTypeInfo]="item"
                    (click)="onClickItem(item)"></app-goodType-list-item>
            </app-goodType-list>
            <app-skeletion-list *ngIf="loading">
                <app-skeletion-list-item [type]="'goodType'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'goodType'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'goodType'"></app-skeletion-list-item>
                <app-skeletion-list-item [type]="'goodType'"></app-skeletion-list-item>
            </app-skeletion-list>
        </div>
        <app-paginator [count]="count" [pageLength]="pageLength" (paginate)="paginate($event)"></app-paginator>
    </div>
</section>