@import "../../../../../../../../assets/scss/mixin";  

.product_type_content{
    margin-top: 50px;
    @include flex-spase-between();
    .product_type_conteiner{
        width: calc(100% - 240px);
        margin-left: 50px;
        .slider_contnet{
            @include flex-spase-between();
            .slider{
                width: 100%;
                &::after{
                    @include after-before(30px 0,solid 2px #c5c3c3)
                 }
                 &::before{
                     @include after-before(30px 0,solid 2px #c5c3c3)
                  }
            }
           
        }
    }
}

@media only screen and (max-width:900px){
    .product_type_conteiner{
        width: 100% !important;
        margin: auto !important;
    }
}
