.restaurant_content {
    .path_content {
        .text_content {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: #716b6b;
            font-size: 14px;
            cursor: pointer;
            i {
                margin-top: 1px;
                font-size: 10px;
            }
        }
    }
    .restaurant_wraper {
        margin-top: 14.6px;
        height: 257.6px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       // background-image: url("/assets/images/wine.jpg");
        .text_wraper {
            left: 57px;
            top: 7px;
            font-size: 45px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            .text_item_one {
                margin-top: 0;
                margin-bottom: 0px;
            }
            .text_item_two {
                margin-top: 12.4px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: left;
                color: #cfcfcf;
                display: block;
                word-wrap: break-word;
                white-space: normal;
                width: 295px;
            }
        }
    }
    
    .container{
        margin:0 auto;
        width: fit-content;
    }

}