<header full-width>
    <div class="header_content">
        <div class="toolbar_content">
            <a class="topbar_item" display-flex cursor-pointer *ngFor="let item of menuItemsService.getMenuItems()"
                routerLink="{{item.routerLink}}" routerLinkActive="topbar_item_active"
                [routerLinkActiveOptions]="{ exact: true }">
                <p class="type" font-weight-bold margin-auto >{{item.label | translate}}</p>
            </a>
        </div>
        <div class="topbar_middle" (clickOutside)="onClickedOutside($event)">
            <i class="material-icons" margin-auto (click)="openFiltersMenu()">
                near_me
            </i>
            <i class="material-icons" margin-auto routerLink="/basket">
                shopping_cart
            </i>
            <app-filters-list></app-filters-list>
        </div>
    </div>
</header>