<div class="topbar_wrapper" full-width>

    <div class="topbar_container" display-flex align-items-center>
        <div class="topbar_item" display-flex cursor-pointer *ngFor="let item of menuItemsService.getMenuItems()"
            routerLink="{{item.routerLink}}" routerLinkActive="topbar_item_active">
            <p class="item_label" font-weight-bold margin-auto font-family-Open-Sans>{{item.label | translate}}</p>
        </div>
    </div>
    <div class="topbar_middle" (clickOutside)="onClickedOutside($event)"> 
        <div display-flex class="container">
            <i class="material-icons icon_shopping" margin-auto (click)="openFiltersMenu()">
                near_me
            </i>
            <i class="material-icons icon_shopping" margin-auto>
                shopping_cart
            </i>
        </div>

       <app-filters-list></app-filters-list>
    </div>
    
</div>