.topbar_wrapper {
    background-color: #444444;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
    height: 75px;
  
    .topbar_container {
        margin: 0 auto;
        height: 100%;
        max-width: 1220px;
        .topbar_item {
            
            width: 186px;
            height: 100%;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            .item_label{
                height: 23px;
                font-size: 20px;
                line-height: 1.15;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
    }
    .topbar_middle{
        display: none;
        background-color: #444444;
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
        height: 75px;
        margin: 0 auto;
        width: 100%;
        
        justify-content: flex-end;
        .container{
            margin:0 16px;
            .icon_shopping{
                font-size: 27px;
                color: white;
                cursor: pointer;
            }
        }
        
    }
}
.topbar_item_active{
    background: #87bd3c;
}

@media only screen and (max-width: 900px) {
    .topbar_container {
        display: none;
        z-index: -1;
    }
    .topbar_middle{
        display: flex !important;
    }
    
}