<div class="toolbar_content" full-width>
    <div class="toolbar_container" margin-auto>
        <div display-flex  justify-content-flex-end full-height>
            <div class="left_content">
                <div class="menu_button" (click)="openMenu()">
                    <i class="material-icons menu_icon" margin-auto>menu</i>
                </div>
                <div class="logo">
                    <img src="assets/images/logo.png" width="98px" height="46px">
                </div>
                <div class="search_button">
                   
                    <i class="material-icons search_icon" (click)="openSearchGoodsModale()">search</i>
                   
                </div>
            </div>
            <div width-fit  display-flex class="right_content">
                <div class="login_content" display-flex position-relative>
                    <div class="login_signin" full-height display-flex align-items-center *ngIf="!signUpService.isAuthorized"
                        (clickOutside)="onClickedOutside($event)">
                        <div (click)="showLoginSignup()" display-flex align-items-center>
                            <i class="material-icons">
                                person
                            </i>
                            <span font-weight-bold>{{'login'| translate}}/{{'registration'| translate}}</span>
                        </div>
                        <div class="login right-0" position-absolute display-flex *ngIf="showlogin">
                            <div class="buttons_items" margin-auto width-75 >
                                <button class="login_button" text-align-center (click)="openLoginModal()">
                                    <span color-white font-weight-bold>{{'login'| translate}}</span>
                                </button>
                                <button class="registration_button"  text-align-center (click)="openPhoneNumberModal()">
                                    <span color-white font-weight-bold>{{'registration'| translate}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="user_data" full-height display-flex align-items-center position-relative *ngIf="signUpService.isAuthorized"
                        (clickOutside)="onClickedOutsideUserProfile($event)">
                        <div class="image user_image" [ngStyle]="{'background-image':'url('+signUpService.userImage+')'}"></div>
                        <div display-flex align-items-center>
                            <p class="user_name" display-flex  align-items-center font-weight-bold>{{signUpService?.userInfo.fullName}}

                                <i class="material-icons" (click)="showUserProfile()">
                                    keyboard_arrow_down
                                </i>
                            </p>
                        
                        </div>
                        <div class="user_profile" position-absolute *ngIf="showUserProfileDisplay">
                            <div class="user_singIn">
                                <p class="type" font-weight-bold routerLink="/profile"
                                    cursor-pointer>{{'user_profile' | translate}}</p>
                                <p  class="title" font-weight-bold (click)="onClickLogOut()"
                                    cursor-pointer>{{'log_out' | translate}}</p>
                            </div>

                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
