<div class="toolbar_content" full-width>
    <div class="toolbar_container" margin-auto>
        <!-- <div (click)="openRegisterStep()">hhtth</div> -->
        <div display-flex  justify-content-flex-end full-height>
            <div class="left_content">
                <div class="menu_button">
                    <i class="material-icons menu_icon" margin-auto>menu</i>
                </div>
                <div class="logo">
                    <img src="assets/images/logo.png" width="98px" height="46px">
                </div>
                <div class="search_button">
                    <i class="material-icons search_icon">search</i>
                </div>
            </div>
            <div width-fit  display-flex class="right_content">
                <div class="lenguage_content" display-flex align-items-center position-releative (click)="showLanguage()"
                    (clickOutside)="onClickedOutsideLenguage($event)">
                    <div class="flags">
                        <img src="assets/images/english.png" full-width full-height>
                    </div>
                    <span class="language_text" font-weight-bold font-family-Roboto>English</span>
                    <i class="material-icons icon">
                        keyboard_arrow_down
                    </i>
                    <div class="language" position-absolute full-width [ngClass]="{'showLanguage':showLenguage,'hideLanguage':!showLenguage}">
                        <div class="language_top" width-75 *ngFor="let item of languageItem">
                            <div class="language_conteiner" display-flex align-items-center>
                                <div class="image" [ngStyle]="{'background-image':'url('+item.image+')'}"></div>
                                <span class="language_text" font-weight-bold font-family-Roboto>{{item.name}}</span>
                            </div>
                            <div class="language_line"></div>

                        </div>
                    </div>
                </div>
                <div class="login_content" display-flex position-releative>
                    <div class="login_signin" full-height display-flex align-items-center *ngIf="!signUpService.isAuthorized"
                        (clickOutside)="onClickedOutside($event)">
                        <div (click)="showLoginSignup()" display-flex align-items-center>
                            <i class="material-icons">
                                person
                            </i>
                            <span font-weight-bold font-family-Roboto>Login/sign in</span>
                        </div>
                        <div class="login right-0 " position-absolute  [ngClass]="{'showUserProfile':showlogin,'hideUserProfile':!showlogin}">
                            <div class="buttons_items">
                                <button class="login_button" text-align-center (click)="openLoginModal()">
                                    <span color-white font-weight-bold font-family-Roboto>LOGIN</span>
                                </button>
                                <button class="registration_button" (click)="openPhoneNumberModal()">
                                    <span color-white font-weight-bold font-family-Roboto>Registration</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="user_data" full-height display-flex align-items-center position-relative *ngIf="signUpService.isAuthorized"
                        (clickOutside)="onClickedOutsideUserProfile($event)">
                        <div class="user_image"></div>
                        <div display-flex align-items-center>
                            <!--span class="user_name" font-weight-bold font-family-Roboto>{{signUpService?.userInfo.userName}}</span-->
                            <span class="user_name" font-weight-bold font-family-Roboto>{{signUpService?.userInfo.fullName}}</span>
                            <i class="material-icons" (click)="showUserProfile()">
                                keyboard_arrow_down
                            </i>
                        </div>
                        <div class="user_profile" position-absolute [ngClass]="{'showUserProfile':showUserProfileDisplay,'hideUserProfile':!showUserProfileDisplay}">
                            <div class="user_singIn">
                                <span class="user_text" font-family-Roboto font-weight-bold routerLink="/profile"
                                    cursor-pointer>User profile</span>
                                <div class="line_content"></div>
                                <div class="text_signup" font-family-Roboto font-weight-bold (click)="onClickLogOut()"
                                    cursor-pointer>Log out</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>