@import "../../../../../../assets/scss/mixin.scss";

.toolbar_content {
    .toolbar_container {
        height: 66px;
        max-width: 1220px;

        .left_content {
            display: none;
            justify-content: space-between;
            align-items: center;
            margin: 0 16px;

            .menu_button {
                height: 100%;
                display: flex;

                .menu_icon {
                    font-size: 30px;
                    cursor: pointer;
                }
            }

            .search_button {
                .search_icon {
                    font-size: 26px;
                }
            }
        }

        .login_content {
            .login_signin {
                cursor: pointer;

                i {
                    color: #87bd3c
                }
            }

            .login {
                width: 202px;
                height: 250px;
                box-shadow: -4px 4px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                z-index: 1;
                top: 66px;
                right: 0;

                .buttons_items {
                    display: flex;
                    flex-direction: column;

                    .login_button {
                        @include button(#87bd3c, 20px 40px, #ffffff);
                    }

                    .registration_button {
                        @include button(#ff6f00, 20px 40px, #ffffff);
                        margin-top: 42px;
                    }
                }
            }

            .user_data {
                .user_image {
                    width: 36px;
                    height: 36px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                }

                .user_name {
                    @include text(#191919, 15px);
                }

                i {
                    cursor: pointer;
                }

                .user_profile {
                    background: white;
                    z-index: 1;
                    top: 66px;
                    right: 0;
                    width: 210px;
                    box-shadow: -4px 4px 6px 0 rgba(0, 0, 0, 0.16);

                    .user_singIn {
                        padding: 20px 20px;

                        .type {
                            @include text(#191919,15px);
                            margin-top: 0;
                            margin-bottom: 0;
                        }

                        .title {
                            @include text(#191919,15px);
                        }

                        .title::before {
                            @include after-before(10px auto, 1px solid #191919);
                        }
                    }
                }
            }
        }
    }
}

.showUserProfile {
    opacity: 1;
    z-index: 1;
    top: 66px !important; //  transition: top 0.5s, opacity 0.5s;
}

.hideUserProfile {
    opacity: 0;
    z-index: -1 !important;
    user-select: none;
}

.showLanguage {
    opacity: 1;
    z-index: 1;
    top: 66px !important;
    transition: top 0.5s, opacity 0.5s;
}

.hideLanguage {
    opacity: 0;
    z-index: -1 !important;
    user-select: none;
}

@media only screen and (max-width: 900px) {
    .right_content {
        display: none;
        z-index: -1;
    }

    .left_content {
        width: 100%;
        display: flex !important;
    }
}