<div class="toolbar_content" full-width>
    <div class="toolbar_container" display-flex margin-auto>
        <div class="lenguage_content" display-flex align-items-center>
            <div class="flags">
                <img src="assets/images/flag.jpg" full-width full-height>
            </div>
            <span class="language" font-weight-bold font-family-Roboto>English</span>
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
        <div class="login_content" display-flex position-releative>
            <div class="login_signin" full-height display-flex align-items-center (click)="showLoginSignup()">
                <i class="material-icons">
                    person
                </i>
                <span font-weight-bold font-family-Roboto>Login/sign in</span>
            </div>
           
                <div class="login" position-absalute *ngIf="showlogin">
                    <div class="buttons_items">
                        <button class="login_button" text-align-center>
                            <span color-white font-weight-bold font-family-Roboto (click)="openLoginModal()">LOGIN</span>
                        </button>
                        <button class="registration_button">
                            <span  color-white font-weight-bold font-family-Roboto (click)="openPhoneNumberModal()">Registration</span>
                        </button>
                    </div>
                </div>
        
        </div>

    </div>
</div>