<div class="home_content" full-width>
    <div class="container" display-flex justify-content-space-between>
        <div class="logo">
            <img src="assets/images/logo.png">
        </div>
        <div class="choose_bar" *ngIf="chooseBarVisiblity">
            <div class="choose_bar_container" display-flex full-height>
                <!-- <div class="choose_bar_item" display-flex *ngFor="let item of menuItemsService.getHomeContentItems()"
                    routerLink="{{item.routerLink}}" routerLinkActive="item_Active">
                    <p class="item_label" margin-auto font-weight-bold font-family-Open-Sans>{{item.label}}</p>
                </div> -->
                 <div class="choose_bar_item" display-flex  routerLinkActive="item_Active"   [routerLink]="['/home/information']" [queryParams]="{ type: 'shop'}">
                    <p class="item_label" margin-auto font-weight-bold font-family-Open-Sans>SHOP</p>
                </div>
                <div class="choose_bar_item" display-flex  routerLinkActive="item_Active" [routerLink]="['/home/information']" [queryParams]="{ type: 'company'}">
                    <p class="item_label" margin-auto font-weight-bold font-family-Open-Sans>COMPANY</p>
                </div>
                <div class="choose_bar_item" display-flex  routerLinkActive="item_Active" [routerLink]="['#']">
                    <p class="item_label" margin-auto font-weight-bold font-family-Open-Sans>ALL</p>
                </div>
            </div>
            <div class="search-content" full-width display-flex>
                <div class="search_wrapper" display-flex>
                    <input class="search-input" placeholder="Search Product Hear" full-width [(ngModel)]="search">
                    <div class="search" display-flex (click)="onClickSearch()">
                        <i class="material-icons" margin-auto color-white>
                            search
                        </i>
                    </div>
                </div>
                <div class="trash">
                    <div class="content">
                        <i class="material-icons" cursor-pointer>
                            shopping_cart
                        </i>
                        <div class="count">({{signUpService.userInfo.chartOrdersCount}})</div>
                        <i class="material-icons icon" cursor-pointer routerLink="card">
                            keyboard_arrow_down
                        </i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>

</div>