.container {
    .logo {
        margin-left: 26.5px;
        margin-top: 13px;
    }
    .choose_bar {
        margin-top: 23px;
        width: calc(100% - 287px);
        .search-content {
            margin-top: 27px;
            border-radius: 4px;
            height: 41px;
            .search_wrapper {
                width: 70%;
                .search-input {
                   border: none;
                    width: calc(100% - 46.5px);
                    padding-left: 51px;
                    border-radius: 4px;
                    background-color: #e5e5e5;
                }
                .search {
                    width: 46.5px;
                    height: 100%;
                    background-color: #87bd3c;
                    border-radius: 4px;
                    i {
                        font-size: 26px;
                        cursor: pointer;
                    }
                }
            }
            .basket {
                width: 30%;
                border-radius: 4px;
                border-radius: 4px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
                background-color:white;
                height: 100%;
                .content {
                    display: flex;
                    width: 40%;
                    height: 100%;
                    margin: 0 auto;
                    align-items: center;
                    justify-content: space-between;
                    .count {
                        font-size: 23px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.35;
                        letter-spacing: normal;
                        text-align: left;
                        color: #191919;
                    }
                    .icon {
                        color: #000000;
                        font-size: 27px;
                    }
                }
            }
        }
        .slider {
            width: 70%;
            margin-top: 48px;
            height: 476px;
            .shop_now {
                width: 178.5px;
                height: 46.5px;
                object-fit: contain;
                border-radius: 4px;
                background: #87bd3c;
                left: 0;
                right: 0;
                bottom: 103.3px;
                cursor: pointer;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
            }
            .left_icon {
                left: 0;
                right: 0;
                bottom: 214.8px;
                cursor: pointer;
                i {
                    font-size: 40px;
                    cursor: pointer;
                }
            }
            .right_icon {
                right: 0;
                bottom: 214.8px;
                cursor: pointer;
                i {
                    font-size: 40px;
                    cursor: pointer;
                }
            }
        }
    }
    .content {
        .logo {
            width: 202px;
        }
        .choose_bar {
            width: 893px;
        }
    }
}

.item_Active {
    color: white !important;
    background-color: #87bd3c !important;
}

input::placeholder {
    color: #b5b5b5;
    margin-top: 12px;
    font-size: 12px;
}

@media only screen and (max-width: 900px) {
    .container {
        .logo {
            display: none;
            z-index: -1;
        }
        .choose_bar{
            width: 100%;
            .search-content{
                display: none;
            }
        }
    }
}