<div class="home_content" full-width position-relative display-flex>
    <app-menu></app-menu>
    <div class="choose_bar">
        <div class="choose_bar_container" display-flex full-height width-fit>
            <div class="choose_bar_item" display-flex *ngFor="let item of menuItemsService.getHomeContentItems()"
                routerLink="{{item.routerLink}}" routerLinkActive="item_Active">
                <p class="item_label" margin-auto font-weight-bold>{{item.label}}</p>
            </div>
        </div>
        <div class="search-content" full-width display-flex>
            <div class="search_wrapper" display-flex>
                <input class="search-input" placeholder="Search Product Hear" full-width>
                <div class="search" display-flex>
                    <i class="material-icons" margin-auto color-white>
                        search
                    </i>
                </div>
            </div>
            <div class="trash"></div>
        </div>
        <!-- <div class="slider" full-width display-flex position-relative>
            <img class="slider_images" src="assets/images/slider.png" full-width full-height>
            <div class="shop_now" display-flex color-white font-weight-bold text-align-center position-absalute
                margin-side-auto>
                <span margin-auto>SHOP NOW</span>
            </div>
            <div class="left_icon" position-absalute color-white>
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
            <div class="right_icon" position-absalute color-white>
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </div>
        </div> -->
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>