@import "../../../../../../../src/assets/scss/mixin";

.slider_content {
    margin-top: 48px;

    .slider_container {
        height: 476px;
    }

    .leftRs {

        @include leftRs(50px);
    }

    .rightRs {
        @include rightRs(50px);

    }

    .second_slider {
        .leftRs_config {
            @include leftRs(34px);
        }

        .rightRs_config {
            @include rightRs(34px);
        }

        .slider_item {
        
            margin:10px;
            object-fit: contain;
            border-radius: 4px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
            background-color: white;

            .slider_image {
                height: 87.7px;
                border-radius: 4px;
            }

            .information_content {
                .title {
                    @include text(#191919, 9px);
                }
            }
            .type{
                @include text(#191919, 9px);   
            }
        }

    }
}

:host /deep/ {
    .second_slider {
        .ngxcarousel {
            padding: 0 40px;
        }
    }
}

:host::ng-deep .ngxcarouselPointDefault {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21.88px;
}

:host::ng-deep .active {
    background-color: #87bd3c !important;
}

:host::ng-deep li {
    background-color: transparent !important;
    border: 2px solid darkgrey;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}


@media only screen and (max-width: 900px) {
    .slider_content {
        .slider_container {
            height: 250px !important;
        }

    }
}