<div class="slider_content " full-width [ngSwitch]="sliderMode">
    <div position-relative *ngSwitchCase="1" class="first">
        <ngx-carousel [inputs]="carouselConfig">
            <ngx-item *ngFor="let item of items" NgxCarouselItem>
                <div class="image slider_container" [ngStyle]="{'background-image':'url('+item.title+')'}">
                </div>

            </ngx-item>

            <div NgxCarouselPrev class="leftRs" color-white>
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
            <div NgxCarouselNext class="rightRs" color-white><i class="material-icons">
                    keyboard_arrow_right
                </i></div>
        </ngx-carousel>
    </div>
    <div *ngSwitchCase="2" class="second_slider">
        <ngx-carousel [inputs]="carouselConfig2">
            <div NgxCarouselPrev class="leftRs_config">
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
            <ngx-item *ngFor="let item of items" NgxCarouselItem>
                <div class="slider_item">
                    <div class="image slider_image" [ngStyle]="{'background-image':'url('+fileUrl+item.thumbnail+')'}">
                    </div>
                    <div class="information_content" display-flex justify-content-space-between>
                        <p class="title" font-weight-bold font-family-Roboto>{{item?.name}}</p>
                        <p class="title" ont-weight-bold font-family-Roboto>{{item?.description | slicetextPipe : 50}}$</p>

                    </div>
                    <p class="type" ont-weight-bold font-family-Roboto>{{item?.text}}</p>
                    <!-- <app-rating [currentIndex]="starCount" [changeRating]="false" [starSize]="7" ></app-rating> -->
                </div>
            </ngx-item>
            <div NgxCarouselPrev class="leftRs_config">
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
            <div NgxCarouselNext class="rightRs_config"><i class="material-icons">
                    keyboard_arrow_right
                </i></div>

        </ngx-carousel>
    </div>



</div>