<section>
    <div class="ingrident_content">
        <div class="ingrident_item ingrident_name">
                <p class="title">{{topping?.name}}</p>
        </div>
     <div class="ingrident_item ingrident_price">
            <p class="title ">{{topping?.stepPrice}}₽</p>
     </div>

     <div class="ingrident_item ingrident_quarity">
            <button class="quarity_btn remove" font-family-Roboto cursor-pointer (click)="countremove()"><i
                class="material-icons">
                keyboard_arrow_down
            </i></button>
            <div class="quarity_count">
                    <p class="count_title" font-family-Roboto margin-auto>{{topping.toppingValue}}</p>
            </div>
        
        <button class=" quarity_btn add" font-family-Roboto cursor-pointer (click)="countadd()">
            <i class="material-icons">
                keyboard_arrow_up
            </i>
        </button>
     </div>
    </div>
</section>