<div class="ingredient_content">
    <div class="ingredient_conteiner"  width-75 margin-auto>
        <div class="ingredient_items" display-flex justify-content-space-between>
            <p class="item_text" font-family-Roboto>{{topping?.name}}</p>
            <p class="money_item" font-family-Roboto>{{topping?.stepPrice}}$</p>

            <div class="quarity" display-flex justify-content-space-between>
                <div class="remove" ont-family-Roboto cursor-pointer (click)="countremove()">-</div>
                <div class="count"  font-family-Roboto>{{count}}</div>
                <div class="add" ont-family-Roboto cursor-pointer (click)="countadd()">+</div>
            </div>

        </div>
    </div>
</div>