.search_content {
    .search_conteiner {
        .top_content {
            .input {
                height: 100%;
                border: solid 1px #a4a4a4;
                background-color: #ffffff;
                width: calc(100% - 46.5px);
            }
            .search {
                width: 46.5px;
                height: 100%;
                background-color: #87bd3c;
                i {
                    font-size: 26px;
                }
            }
        }
    }
}

input::placeholder {
    color: #b5b5b5;
    margin-top: 12px;
    font-size: 12px;
    padding-left: 12px;
}
