.topbar_wrapper {
    margin: 58px 0px;
    .top_content {
        //height: 115px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        background-color: #ffffff;
    }
    .user_name,
        {
        height: 42px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23); // border: solid 1px #707070;
        background-color: #ffffff;
        .user_name_input {
            width: calc(100% - 47.3px);
            color: #707070;
        }
        .user_name_icons {
            width: 47.3px;
            border: solid 1px #707070;
            background-color: #ffffff;
            font-size: 16px;
            color: #676767;
        }
    }
    .password {
        margin-top: 28px;
        height: 42px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23); //  border: solid 1px #707070;
        background-color: #ffffff;
        .password_icons {
            width: 47.3px;
            border: solid 1px #707070;
            background-color: #ffffff;
            font-size: 16px;
            color: #676767;
        }
        .password_input {
            width: calc(100% - 47.3px);
            color: #707070;
        }
    }
    .forget_password {
        margin-top: 12px;
        height: 14px;
        font-family: BasicSansSF;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #ff6f00;
        cursor: pointer;
        justify-content: flex-end;
    }
    .login_content {
        height: 42px;
        margin-top: 54px;
        .login {
            width: 143.8px;
            border-radius: 4px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
            background-color: #87bd3c;
            cursor: pointer;
            border: none;
            display: inline-block;
            text-decoration: none;
        }
    }
    .opacity {
        opacity: 0.5;
    }
}