<div>
    <div class="total_conteiner" display-flex>
        <p class="text" font-family-Roboto>The price of goods</p>
        <span class="price" font-family-Roboto>90$</span>
    </div>

    <div class="total_conteiner" display-flex>
        <p class="text" font-family-Roboto>Cost of delivery</p>
        <span class="price" font-family-Roboto>90$</span>
    </div>

    <div class="total_conteiner" display-flex>
        <p class="text" font-family-Roboto>Total cost</p>
        <span class="price" font-family-Roboto>{{totalAmoutSum}}$</span>
    </div>
    <div display-flex justify-content-flex-end>
        <button class="button_item" display-flex (click)="onClickByAll()"><span font-family-Open-Sans color-white margin-auto>BUY ALL</span></button>
    </div>

</div>