<div class="total_container">
    <div class="total_price_item">
            <p class="type">{{'The_price_of_goods' | translate}}</p>
            <p class="type total_text">90₽</p>
    </div>
    <div class="total_price_item">
            <p class="type">{{'Cost_of_delivery' | translate}}</p>
            <p class="type total_text">90₽</p>
    </div>
    <div class="total_price_item">
            <p class="type">{{'Total_cost' | translate}}</p>
            <p class="type total_text">{{totalAmoutSum}}₽</p>
    </div>

    <button class="button" display-flex margin-auto  (click)="onClickByAll()">
            <p margin-auto>{{'buy_all' | translate}}</p>
        </button>
</div>