<div class="total_container">
    <div class="total_price_item">
            <p class="type" font-family-Roboto>{{'The_price_of_goods' | translate}}</p>
            <p class="type total_text" font-family-Roboto>90₽</p>
    </div>
    <div class="total_price_item">
            <p class="type" font-family-Roboto>{{'Cost_of_delivery' | translate}}</p>
            <p class="type total_text" font-family-Roboto>90₽</p>
    </div>
    <div class="total_price_item">
            <p class="type" font-family-Roboto>{{'Total_cost' | translate}}</p>
            <p class="type total_text" font-family-Roboto>{{totalAmoutSum}}₽</p>
    </div>

    <button class="button" display-flex margin-auto  (click)="onClickByAll()">
            <p margin-auto>{{'buy_all' | translate}}</p>
        </button>
</div>