<div class="topbar_wrapper" full-width display-flex>
   
    <div class="topbar_content" margin-auto>
            <app-error [error]="error"></app-error>
        <form [formGroup]="verificationForm">
            <div class="item" margin-auto>
                <input class="item_label" formControlName="control_1"  [ngClass]="{'validators':verificationForm.get('control_1').hasError('required') && verificationForm.get('control_1').touched}">
                <input class="item_label" formControlName="control_2"  [ngClass]="{'validators':verificationForm.get('control_2').hasError('required') && verificationForm.get('control_2').touched}">
                <input class="item_label" formControlName="control_3"  [ngClass]="{'validators':verificationForm.get('control_3').hasError('required') && verificationForm.get('control_3').touched}">
                <input class="item_label" formControlName="control_4"  [ngClass]="{'validators':verificationForm.get('control_4').hasError('required') && verificationForm.get('control_4').touched}">
            </div>
        </form>
        <div class="text_content" display-flex margin-auto>
            <span *ngIf="!isTimerStopped">Enter the verification code <b color-orange>{{time}}</b></span>
            <span color-orange cursor-pointer *ngIf="isTimerStopped"   (click)="getVerifivationCode()">Get code again</span>
        </div>
        <div position-relative>
            <app-loading class="loading" [loading]="loading" [height]="50" [width]="50"></app-loading>
        </div>
        <div class="button_item" display-flex width-fit>
            <button class="back_button" font-weight-bold text-align-center (click)="closeVerification()">BACK</button>
            <button class="next_button" font-weight-bold text-align-center color-white *ngIf="timerStopped" [disabled]="verificationForm.invalid || loading"
                (click)="postVerification()" [ngClass]="{'opacity':verificationForm.invalid || loading}">NEXT</button>
        </div>
    </div>
</div>