<form [formGroup]="verificationForm">
    <div class="container">
        <div class="verification_conteiner">
                <app-error [error]="error"></app-error>
            <div class="verification_item" display-flex width-75 margin-auto display-flex>
                <input class="item_label" [max-count]="1" app-focus-next-input maxLength="1" OnlyNumber="true" formControlName="control_1" [ngClass]="{'border':checkIsValid('control_1')}">
                <input class="item_label" [max-count]="1" app-focus-next-input maxLength="1" OnlyNumber="true" formControlName="control_2" [ngClass]="{'border':checkIsValid('control_2')}">
                <input class="item_label" [max-count]="1" app-focus-next-input maxLength="1" OnlyNumber="true" formControlName="control_3" [ngClass]="{'border':checkIsValid('control_3')}">
                <input class="item_label" [max-count]="1" app-focus-next-input maxLength="1" OnlyNumber="true" formControlName="control_4" [ngClass]="{'border':checkIsValid('control_4')}">
            </div>
            <div class="type_content" display-flex margin-auto>
                <p class="type" *ngIf="!isTimerStopped">{{'Enter_the_verification_code' | translate}}<b color-orange>{{time}}</b></p>
                <p class="type" color-orange cursor-pointer *ngIf="isTimerStopped" (click)="getVerifivationCode()">Get code again</p>
            </div>

            <div class="button_item" width-50 margin-auto>
                <button type="button" class="button back" display-flex  (click)="closeVerification()">
                        <span margin-auto>{{'back' | translate}}</span>
                    </button>
                <button type="submit" class="button next" display-flex  [disabled]="verificationForm.invalid || loading" [ngClass]="{'opacity':verificationForm.invalid || loading}" (click)="postVerification()">
                    <span margin-auto>{{'next' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</form>