.topbar_wrapper {
    .top_content {
        height: 115px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        background-color: #ffffff;
    }
    .topbar_content {
        margin-left: 173px;
        margin-top: 73px;
        .item_label {
            margin-left: 20.7px;
            width: 68.3px;
            height: 42px;
            border-radius: 4px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: solid 1px #707070;
            background-color: #ffffff;
            &:first-child {
                margin-left: 0px;
            }
        }
        .text_content {
            margin-top: 10px;
            width: 186px;
            height: 16px;
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #aeaeae;
        }
        .buttons_wrapper {
            margin-top: 50px;
            .back_button {
                display: inline-block;
                cursor: pointer;
                border: none;
                width: 143.8px;
                height: 42px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                border: solid 1px #707070;
                background-color: #ffffff;
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #676767;
            }
            .next_button {
                display: inline-block;
                cursor: pointer;
                border: none;
                width: 143.8px;
                height: 42px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                background-color: #ff6f00;
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
            }
        }
        .loading{
            width: 64%;
        }
    }
}
.opacity{
    opacity: 0.5
}