<div class="payment_tab_content" margin-auto>
    <p class="payment_tab_text" font-weight-bold font-family-Open-Sans>Please fill in the shipping
        address</p>
        <div id="map"></div>
    <form [formGroup]="paymentForm" position-relative class="form">
        <div class="form_group">
            <span position-absolute class="address_text" font-family-Roboto>Address:</span>
            <input full-width class="input_content" formControlName="address">
        </div>
        <div class="form_group">
            <span position-absolute class="address_text" font-family-Roboto>Apartment:</span>
            <input full-width class="input_content" formControlName="apartment">
        </div>
        <div class="form_group border_bottom_grey" display-flex justify-content-space-between>
            <span class="address_text" font-family-Roboto>Domaphore:</span>
            <div display-flex>
                <div display-flex class="checkbox_wrapper">
                    <input type="checkbox" class="input_checkbox" checked="checked" name="checkbox" formControlName="domaphore" value="1">
                    <span class="text_content" font-family-Roboto>work</span>
                </div>
                <div display-flex>
                    <input type="checkbox" class="input_checkbox_item" name="checkbox" formControlName="domaphore" value="2">
                    <span class="text_content_item" font-family-Roboto>don't work</span>
                </div>
            </div>
        </div>
        <div class="form_group border_bottom_grey" display-flex justify-content-space-between>
            <span class="address_text" font-family-Roboto>Lift:</span>
            <div display-flex>
                <div display-flex class="checkbox_wrapper">
                    <input type="checkbox" class="input_checkbox" checked="checked" name="checkbox" formControlName="lift">
                    <span class="text_content" font-family-Roboto>work</span>
                </div>
                <div display-flex>
                    <input type="checkbox" class="input_checkbox_item" name="checkbox" formControlName="lift">
                    <span class="text_content_item" font-family-Roboto>don't work</span>
                </div>
            </div>
        </div>
        <div class="form_group">
            <span position-absolute class="address_text" font-family-Roboto>Comment:</span>
            <textarea full-width class="textarea_content" formControlName="comment"></textarea>
        </div>
        <div class="button_item" display-flex>
            <button class="save_button" display-flex (click)="onClickSave()"><span margin-auto color-white
                    font-weight-bold font-family-Open-Sans>SAVE</span></button>
            <button class="cancel_button" display-flex routerLink="/home/information"><span margin-auto color-white
                    font-weight-bold font-family-Open-Sans>CANCEL</span></button>
        </div>

    </form>
</div>
<button (click)="onClickSavey()">thrh</button>

