@import "../../../../../../../assets/scss/mixin";
@import "../../../../../../../assets/scss/global";

.checkout_content {
    margin: auto;
    width: 75%;

    .type {
        @include text(#444444, 20px);
    }

    #map {
        height: 300px;
        width: 100%;
    }

    .form_conteiner {
        margin: 40px auto;

        .input_checkbox {
            width: 30px;
            height: 30px;
        }
    }

    .lable {
        @include text(#aeaeae, 20px);
    }
}

.button_item {
    justify-content: flex-end;

    .next {
        @include button(#ffffff, 20px 50px, #000000);
    }

    .back {
        @include button(#87bd3c, 20px 50px, #ffffff);
    }
}

.opacity {
    opacity: 0.5;
}

.border {
    border: 1px solid red !important;
}

.color {
    color: red !important;
}


@media  only screen and (max-width:900px){
    .checkout_content{
        width: 100% !important;
    }
    .button_item{
        width: 100% !important;
    }
}