<div class="payment_tab_content" margin-auto>
        <p class="payment_tab_text" font-weight-bold font-family-Open-Sans>Please fill in the shipping
            address</p>
        <form [formGroup]="paymentForm" position-relative class="form">
            <div class="form_group">
                <span position-absolute class="address_text" font-family-Roboto>Address:</span>
                <input full-width class="input_content">
            </div>
            <div class="form_group">
                <span position-absolute class="address_text" font-family-Roboto>Apartment:</span>
                <input full-width class="input_content">
            </div>
            <div class="form_group">
                <span position-absolute class="address_text" font-family-Roboto>Domaphore:</span>
                <input full-width class="input_content">
            </div>
            <div class="form_group">
                <span position-absolute class="address_text" font-family-Roboto>Lift:</span>
                <input full-width class="input_content">
            </div>
            <div class="form_group">
                <span position-absolute class="address_text" font-family-Roboto>Comment:</span>
                <textarea full-width class="textarea_content"></textarea>
            </div>
            <div class="button_item" display-flex>
                <button class="save_button" display-flex (click)="openPayment()"><span margin-auto
                        color-white font-weight-bold font-family-Open-Sans>SAVE</span></button>
                <button class="cancel_button" display-flex routerLink="/home/information"><span margin-auto
                        color-white font-weight-bold font-family-Open-Sans>CANCEL</span></button>
            </div>

        </form>
    </div>