<div class="top-bar" full-width >
    <div class="top-content" full-width padding margin display-flex>
        <div class="nav" min-width margin-auto>
            </div>
        </div>
        <div class="content" full-width display-flex background-color>
<div class=" home-content"  min-width margin-auto>
    <div class="home" color text-align  display-flex>
        <span margin-auto font-family font-weight-bold>HOME</span>
    </div>
    <div class="contact" color text-align  display-flex>
        <span  margin-auto font-family font-weight-bold>CONTACT</span>
    </div>
</div>
        </div>
    </div>
