.top-bar{
    border: solid 1px #707070;
    height: 128px;
.top-content{
    background-color: #ffffff;
    height: 53px;
    .nav{
border: 1px solid red;
justify-content: flex-end;

    }
   
}
.content{
    height: 75px;  
    .home{
            width: 186px;
            height: 75px;
            object-fit: contain;
            border-radius: 4px;
            background-color: #87bd3c;
            float: left;
          
    }
    .contact{
        width: 186px;
        height: 75px;
        object-fit: contain;
        border-radius: 4px;
       // background-color: #87bd3c;
        margin-left: 10px;
        float: left;
    }
}
}