.line_content {
    margin-top: 47px;
    .text_content {
        height: 27px;
        width: 47px;
    }
    .line {
        margin: auto;
        margin-left: 38px;
        width: 723px;
        height: 0;
        border: solid 2px #c5c3c3;
    }
}

.bottom_slider {
    margin-top: 56px;
}

.top_line_content {
    margin-top: 47px;
    .line {
        margin: auto;
        margin-left: 38px;
        width: 723px;
        height: 0;
        border: solid 2px #c5c3c3;
    }
}