<div full-width>
    <app-slider [sliderMode]="1"></app-slider>
    <div display-flex flex-wrap-wrap>
        <app-menu></app-menu>
        <div class="container">
            <div class="line_content" full-width display-flex>
                <div class="text_content">
                    <span class="text" color-black font-weight-bold font-family-Open-Sans>SALE</span>
                </div>
                <div class="line"></div>
            </div>
            <app-slider [sliderMode]="2"></app-slider>
            <div class="under_line"></div>
            <div position-relative>
                <app-loading class="loading" [loading]="loading" [height]="150" [width]="150"></app-loading>
            </div>
            <app-company-list>
                <app-company-list-item *ngFor="let companyItem of companyItem" [companyItem]="companyItem"></app-company-list-item>
            </app-company-list>
            <app-goods-list>
                <app-goods-list-item *ngFor="let item of goods" [goodInfo]="item" [goodsImage]="item.images"></app-goods-list-item>
            </app-goods-list>
            <app-paginator [count]="count" [pageLength]="pageLength" (paginate)="paginate($event)"></app-paginator>
            
        </div>
       
    </div>

</div>