<section>
    <div class="container">
        <div class="done_content">
            <p class="type">{{'Your_order_has_been_successfully_completed' | translate}}</p>
          
        </div>
        <div class="button_item" width-50 margin-auto>
                <button type="button" class="button back" display-flex routerLink="/">
                    <span margin-auto>{{'go_main_page' | translate}}</span>
                </button>
                <button type="submit" class="button next" display-flex routerLink="/profile">
                    <span margin-auto>{{'go_more_details' | translate}}</span>
                </button>
            </div>
    </div>
</section>