<div class="done_content">
    <div class="done_conteiner">
        <p class="done_text" font-family-Roboto font-weight-bold>Your Order has been successfully
            completed</p>
        <div class="button_item" display-flex>
            <div margin-left-auto>
                <button class="go_main" display-flex routerLink="/home/information"><span color-white font-weight-bold
                        font-family-Roboto margin-auto>Go main page</span></button>
                <button class="go_more" display-flex routerLink="/profile"><span color-white font-weight-bold
                        font-family-Roboto margin-auto>Go more detalis</span></button>
            </div>
        </div>
    </div>
</div>