@import "../../../../../../../assets/scss/mixin";
.container{
    padding: 50px 0;
.done_content{
align-items: center;
text-align: center;
margin: auto;

.type {
    @include text(#ff6f00, 30px);
}

}
.button_item{
    .back{
        @include button(#ffffff,20px 50px, #000000);
    }
    .next {
        @include button(#ff6f00, 20px 50px, #ffffff);
    }
}

}


@media only screen and (max-width:900px){
    .type{
font-size: 15px !important;
    }
}