.good_content {
    margin-top: 24.2px;
    .good_conteiner {
        .left_content {
            //   width: 350.8px;
            .image_content {
                height: 241.9px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 335px;
            }
            .image_items {
                margin-top: 28.5px;
                height: 78px;
                width: 100px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-left: 25px;
                border-radius: 4px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
        .right_content {
            margin-left: 84px;
            .text_item {
                font-size: 25px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #191919;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            .star_items {
                i {
                    font-size: 16px;
                    color: #ff6f00;
                }
                .text {
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #706f6f;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
            .line_content {
                //   width: 456px;
                height: 0;
                border: solid 1px #bbbbbb;
                margin-top: 7.5px;
            }
            .price_content {
                //width: 456px;
                .price_text {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #191919;
                }
                .mony_text {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #191919;
                }
            }
            .under_line_content {
                //  width: 456px;
                height: 0;
                border: solid 1px #bbbbbb;
            }
            .quarity_content {
                //  width: 456px;
                .price_text {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #191919;
                }
                .count_text,
                .remove,
                .add {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #191919;
                }
                .remove,
                .add {
                    cursor: pointer;
                    user-select: none;
                }
            }
            .button_item {
                margin-top: 23px;
                .left_button {
                    width: 228px;
                    height: 65px;
                    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                    border: solid 1px #707070;
                    border: none;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.35;
                    letter-spacing: normal;
                    background: #87bd3c;
                    cursor: pointer;
                }
                .right_button {
                    width: 228px;
                    height: 65px;
                    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                    border: solid 1px #707070;
                    border: none;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.35;
                    letter-spacing: normal;
                    background: #ff6f00;
                    cursor: pointer;
                }
            }
        }
    }
    .tab_content {
        height: 55px; //  width: 893px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        border: solid 2px #a4a4a4;
        margin-top: 74px;
        .tab_item {
            width: 33.333333%;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-align: left;
            color: #444444;
            cursor: pointer;
        }
    }
}

.active_tab {
    background: #87bd3c;
}

.text_active_tab {
    color: white;
}

@media only screen and (max-width: 900px) {
    .good_content {
      margin-left: 0px !important;
    }
    .good_conteiner{
        flex-direction: column !important;
        width: 335px;
        margin-left: 23px !important;

    }
    .left_button {
        width: 163.5px  !important;
        height: 65px  !important; 
    }
    .right_button {
        width: 163.5px  !important;
        height: 65px  !important; 
    }
    .right_content{
        margin-left: 0px  !important;
    }
   .tab_item{
        font-size: 15px !important;
   }

    .image_content{
        width: 335px !important;
        height: 241.9px !important;
    }
}