<div class="good_content" margin-control>
    
    <div class="good_conteiner" full-width position-relative display-flex>
            <div class="loading" display-flex *ngIf="loading">
                    <p-progressSpinner  class="spinner"></p-progressSpinner>
                </div>
        <div class="left_content">
            <div class="image_content" full-width [ngStyle]="{'background-image':'url('+activeImage+')'}"></div>
            <div display-flex>
                <div class="image_items" *ngFor="let item of goodImage" [ngStyle]="{'background-image':'url('+'http://192.168.0.114:4000/static/company/'+item+')'}"
                    (click)="setActiveImage(item)"></div>
            </div>

        </div>
        <div class="right_content">
            <p class="text_item" font-family-Roboto font-weight-bold>{{good?.name}}</p>
            <div class="star_items">
                <!-- <i class="material-icons" *ngFor="let item of [0,0,0,0,0]">
                    star
                </i> -->
                <app-rating [currentIndex]="starCount" [changeRating]="false"></app-rating>
                <p class="text" font-family-Roboto>{{good?.description}}</p>
            </div>
            <div class="line_content"></div>
            <div class="price_content" display-flex justify-content-space-between>
                <p class="price_text" font-family-Roboto>price</p>
                <p class="mony_text" font-family-Roboto>{{good?.price}}$</p>
            </div>
            <div class="under_line_content"></div>
            <div class="quarity_content" display-flex justify-content-space-between>
                <p class="price_text" font-family-Roboto>quarity</p>
                <div class="quarity_item" display-flex>
                    <p class="remove" font-family-Roboto (click)="countremove()">-</p>
                    <p class="count_text" font-family-Roboto> {{count}} </p>
                    <p class="add" font-family-Roboto (click)="countdAdd()">+</p>
                </div>
            </div>
            <div class="button_item" display-flex>
                <div  margin-auto display-flex>
                    <button class="left_button" color-white font-family-Open-Sans margin-auto (click)="onClickOrder('card')"><span>CART</span></button>
                    <button class="right_button" color-white font-family-Open-Sans margin-auto (click)="onClickBuy()"><span>BUY</span></button>
                    <!-- routerLink="cart" -->
                </div>

            </div>

        </div>

    </div>
    <div [ngSwitch]="tab">
        <div class="tab_content" display-flex justify-content-space-between>
            <div class="tab_item" display-flex (click)="openDescription()" [ngClass]="{'active_tab':tab==1}">
                <span margin-auto font-family-Open-Sans [ngClass]="{'text_active_tab':tab==1}">DESCRIPTION</span>
            </div>
            <div class="tab_item" display-flex (click)="openReview()" [ngClass]="{'active_tab':tab==2}">
                <span margin-auto font-family-Open-Sans [ngClass]="{'text_active_tab':tab==2}">REVIEW</span>
            </div>
            <div class="tab_item" display-flex (click)="openIngredient()" [ngClass]="{'active_tab':tab==3}">
                <span margin-auto font-family-Open-Sans [ngClass]="{'text_active_tab':tab==3}">INGREDIENT</span>
            </div>
        </div>
        <div *ngSwitchCase="1">
            <app-description [descriptionData]="good?.description"></app-description>
        </div>
        <div *ngSwitchCase="2">
            <app-review></app-review>
        </div>
        <div *ngSwitchCase="3">
            <app-ingredient *ngFor="let topping of toppings" [topping]="topping"></app-ingredient>

        </div>
    </div>
</div>