@import "../../../../../../../../../assets/scss/mixin";
@import "../../../../../../../../../assets/scss/global";

section {
    .product_content {
        @include flex-spase-between();
        margin: 40px 0;

        .product_images {
            width: 500px;

            .main_images {
                height: 240px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
            }

            .product_images_item {
                flex-wrap: wrap;
                margin-top: 10px;
                display: flex;
                width: 100%;

                .goods_image{
                    width: 33.333333%;
                    padding: 1.2em;
                    .image_item {
                        width: 100%;
                        height: 78px;
                        border-radius: 4px;
                        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                        cursor: pointer;
    
                    }
                }
                
            }
        }

        .prodict_description {
            width: calc(100% - 580px);
            margin-left: 80px;

            .type {
                @include text(#191919, 25px);
            }

            .title {
                @include text(#706f6f, 15px);

                &:after {
                    @include after-before(20px 0px 0px 0px, 1px solid #c7c5c5)
                }

            }

            .quarity {
                &::before {
                    @include after-before(20px 0px 0px 0px, 1px solid #c7c5c5)
                }
                .quarity_content{
                    padding: 10px 0;
                    .description_title{
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                    .quarity_item{
                        display: flex;
                        justify-content: space-between;
                        .quarity_btn{
                         border: none;
                         padding: 0;
                         display: flex;
                         cursor: pointer;
                         background-color: transparent;
                         border: 1px solid #d0d6dc;
                         height: 30px;
                         i{
                          margin: auto;
                         font-size: 18px;
                         color: #444444;
                         }
                     }
                    .quarity_count{
                      height: 30px;
                     width: 35px;
                     border: 1px solid #d0d6dc;
                     border-radius: 0;
                     margin: 0 8px;
                     text-align: center;
                     color: #444444;
                     display: flex;
                     
                    }
                    }
                }
            }

            .description_title {
                @include text(#191919, 20px);

            }

            .button_item {
                justify-content: space-between;
                display: flex;
                width: fit-content;
                margin: 20px 0;

                .back {
                    @include button(#87bd3c, 20px 50px, #ffffff);
                }

                .next {
                    @include button(#ff6f00, 20px 50px, #ffffff);
                }
            }

        }


    }

    .tab_content {
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);

        .tab_item {
            @include text(#444444,20px);
            width: 33.333333%;
            cursor: pointer;
            transition: 1s;
            padding: 20px 0;
        }
    }
}

@media only screen and (max-width:1400px){
    .product_content {
        flex-direction: column !important;

        .product_images,
        .prodict_description {
            width: 100% !important;
            margin: auto !important;
        }
    }  
    .tab{
        width: 100% !important;
        margin: auto;
    }
  
}

@media only screen and (max-width:1400px) and (min-width:475px)  {

}

@media only screen and (max-width:900px) {
    .button{
        padding: 20px 20px !important;
        font-size: 10px !important;
    }
    .tab_item{
        font-size: 10px !important;
    }
}

@media only screen and (max-width:475px){
    .goods_image{
        width: 50% !important;
    }
}

.active_tab {
    background: #87bd3c;
}

.text_active_tab {
    color: white;
}