.salads_content {
    margin-top: 15.6px;
    .salads_main {
        height: 257.6px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        background-image: url("/assets/images/salads.main.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
   
}