
@import "../../../../../../assets/scss/mixin.scss";
@import "../../../../../../assets/scss/global.scss";

.form_conteiner {
    .image {
        width: 180px;
        height: 180px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        border: solid 3px #aeaeae;
        border-radius: 50%;
    }
        .button {
            margin: 50px auto;
            @include button(#87bd3c, 20px 50px, #ffffff);
        }
    }

    .border {
        border: 1px solid red !important;
    }

    .color {
        color: red !important;
    }

    .opacity {
        opacity: 0.5;
    }

    @media only screen and (max-width:900px) {

        .img_content {
            width: 140px !important;
            height: 140px !important;
        }
    }