.description_content {
    margin-top: 48px;
    margin-left: 101px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #706f6f;
    .description_text {
        width: 707px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}