.notification_items {
    .notification_items_content {
        // margin-left: 113px;
        margin-top: 67px;
        .text_item {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: rgba(134, 130, 130, 0.98);
            .notification_data {
                // margin-left: 223px;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #565656;
            }
            .text {
                //width: 691px;
                display: block;
                word-break: break-word;
            }
        }
        .border_line {
            margin-top: 33px; //  margin-left: 85px;
            //  width: 824px;
            // height: 0;
            border: solid 1px #707070;
        }
    }
}

@media only screen and (max-width:900px) {
    .text_item {
        font-size: 15px !important;
    }
}