<div class="payment_content" full-width>
    <div class="payment_conteiner">
        <div class="logo">
            <img src="assets/images/log.png" full-width full-height>
        </div>
        <div [ngSwitch]="tab">
            <div class="payment_tab">
                <div class="tab_content" display-flex justify-content-space-between full-width>
                    <div class="checkout_item" full-height display-flex [ngClass]="{'active_tab':tab==1}">
                        <span margin-auto font-family-Open-Sans (click)="openChackOut()" [ngClass]="{'active_tab_text':tab==1}"
                            font-weight-bold>Checkout</span></div>
                    <div class="payment_item" full-height display-flex [ngClass]="{'active_tab':tab==2}"><span
                            margin-auto font-family-Open-Sans font-weight-bold [ngClass]="{'active_tab_text':tab==2}">Payment</span></div>
                    <div class="done_item" full-height display-flex [ngClass]="{'active_tab':tab==3}"><span margin-auto
                            [ngClass]="{'active_tab_text':tab==3}" font-weight-bold font-family-Open-Sans>Done</span></div>
                </div>

            </div>
            <div *ngSwitchCase="1">
                <app-checkout-tab [paymentTab]="tab" (changeTab)="openPayment($event)" [companyId]="orderInfo.companyId" [good]="orderInfo.good"></app-checkout-tab>

            </div>
            <div *ngSwitchCase="2">
                <app-payment-tab [paymentTab]="tab" (changeTab)="openDone($event)"></app-payment-tab>

            </div>
            <div *ngSwitchCase="3">
                <app-done-tab></app-done-tab>
            </div>

        </div>
    </div>