@import "../../../../../../../assets/scss/mixin";
.payment_content {
    .payment_conteiner {
        margin-top: 13px;
        .logo {
            width: 202px;
            height: 96px;
            margin-left: 16px;
        }
        .payment_tab {
            margin-top: 7px;
            .tab_content {
                height: 75px;
                border-radius: 4px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
                .tab_item{
                    @include text(#000000,20px);
                    width: 33.333333%;
                    cursor: pointer;
                }
            }
        }
    
    }
}

.active_tab {
    background-color: #87bd3c;
}

.active_tab_text {
    color: white;
}

@media only screen and (max-width:900px){
.tab_item{
    font-size: 14px !important;
}
}