@import "../../../../../../assets/scss/mixin";
@import "../../../../../../assets/scss/global";

section {
    background-color: white;
    position: absolute;
    z-index: 1000;
    top: 0;
    transition: left 250ms;
    width: 100%;
    height: 100%;

    .top_content {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #87bd3c;

        .slide_nav_container {
            width: 100%;
            padding: 20px 20px;

            .user_data_content {
                display: flex;

                .type {
                    @include text(#444444, 20px);
                    margin-left: 20px;
                    width: 50%;
                }

                .radius {
                    width: 78px;
                    height: 78px;
                    border-radius: 50%;
                    background: whitesmoke;
                }

                .image {
                    width: 78px;
                    height: 78px;
                    border-radius: 50%;
                }
            }

            .sign_up_content {
                display: flex;

                .type {
                    @include text(#444444, 15px);
                }
            }

        }
    }

    .menu_content {
        width: 100%;

        .nav {
            padding: 20px 20px;

            li {
                display: flex;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid #c5c3c3;

              


                i {
                    font-size: 26px;
                    color: #444444;
                }

                .link {
                    @include text(#444444, 14px);
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.open {
    left: 0;
}

.close {
    left: -100%;
}

.showLogin {
    opacity: 1;
    z-index: 1;
    top: 43px !important;
    transition: top 0.5s, opacity 0.5s !important;
}

.hideLogin {
    opacity: 0;
    z-index: -1;
    user-select: none;
}