<section [ngClass]="{'open':menuService.isOpen,'close':!menuService.isOpen}">
    <div class="slide_nav_content">
        <div class="top_content">
            <div class="slide_nav_container">
                <div class="user_data_content">
                    <div class="radius" *ngIf="!signUpService.isAuthorized"></div>
                    <div class="image" *ngIf="signUpService.isAuthorized"
                        [ngStyle]="{'background-image':'url('+signUpService.userImage+')'}"></div>
                    <p class="type" *ngIf="signUpService.isAuthorized"> {{signUpService?.userInfo.fullName}}</p>
                </div>
                <div class="sign_up_content" position-relative (clickOutside)="onClickedOutsideLoginMenu($event)"
                    *ngIf="!signUpService.isAuthorized">
                    <p class="type" font-family-Roboto cursor-pointer (click)="showLogin()">{{'login' | translate}}/</p>
                    <p class="type" font-family-Roboto cursor-pointer (click)="openDialogPhoneNumber()">
                        {{'registration' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="menu_content">
            <nav class="nav">
                <ul>
                    <li *ngFor="let item of menuItem">
                        <i class="material-icons">
                            {{item.icon}}
                        </i>
                        <a class="link" routerLink="{{item.routerLink}}"
                            (click)="closeMenu()">{{item.link | translate}}</a>
                    </li>
                    <li *ngIf="signUpService.isAuthorized">
                        <i class="material-icons">
                            person
                        </i>
                        <a class="link" (click)="navToPage('/profile')">{{'user_profile' | translate}}</a>
                    </li>
                    <li *ngIf="signUpService.isAuthorized">
                        <i class="material-icons">
                            notifications_active
                        </i>
                        <a class="link" (click)="navToPage('/notification')">{{'notification' | translate}}</a>
                    </li>
                    <li *ngIf="signUpService.isAuthorized">
                        <i class="material-icons">
                            exit_to_app
                        </i>
                        <a class="link" (click)="logOut()">{{'log_out' | translate}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>