<div class="good_item">
    <div class="image item_image" [ngStyle]="{'background-image':'url('+fileUrl+goodsImageItem+')'}"></div>
    <div class="title_item">
            <p class="type" font-weight-bold font-family-Roboto>{{goodInfo?.name}}</p>
            <div display-flex full-width justify-content-space-between>
                    <p class="title" font-family-Roboto>{{goodInfo?.description | slicetextPipe}} </p>
                    <p class="money_text" font-weight-bold font-family-Roboto>{{goodInfo?.price}}₽</p>
            </div>
           
    </div>
       
</div>
