.company_content {
    width: 202px;
    height: 214px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    .company_image {
        height: 137px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/assets/images/winee.jpg")
    }
    .company_info {
        margin-top: 16px;
        margin-left: 16px;
        .company_name {
            font-size: 15px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #191919;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .company_description {
            font-size: 10px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            letter-spacing: normal;
            text-align: left;
            color: #191919;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}