<div full-width flex-wrap-wrap class="container" position-relative>
    <p class="restaurant_text" font-family-Roboto>{{cardInfo?.companyName}}</p>
    <div class="text_item" display-flex text-align-center>
        <p class="text" font-family-Roboto>Cost of delivery</p>
        <p class="money_text" font-family-Roboto>3$</p>
        <i class="material-icons close" position-absolute>
            close
        </i>
    </div>
    <div display-flex text-align-center>
        <p class="text" font-weight-bold font-family-Roboto> Product detalis</p>
        <p class="price_text" font-weight-bold font-family-Roboto>Price</p>
        <p class="quarity_text" font-weight-bold font-family-Roboto>Quarity</p>
        <p class="total_text" font-weight-bold font-family-Roboto>Total</p>
    </div>
    <ng-content></ng-content>
    <div class="card_content" display-flex justify-content-space-between>
        <p class="card_text" font-family-Roboto font-weight-bold>Total coast</p>
        <p class="price" font-family-Roboto font-weight-bold>{{cardInfo?.totalAmount}}$</p>
    </div>
    <div class="batton_content" (click)="navToPayment()">
        <button class="button" display-flex ><span margin-auto font-family-Open-Sans>BUY</span></button>
    </div>
    <div class="line" margin-auto></div>
</div>