
@import "../../../../../../assets/scss/mixin";
.card_content{
    width: 100%;
    .type{
        @include text(#444444,22px);
        font-weight: bold;
    }
     .title{
        @include text(#979797,15px);
    }
    .delivery_title{
        margin-left: 30px;
    }
    .product_description{
        border: 1px solid black;
        @include flex-spase-between();
        flex-wrap: wrap;
    }
    .total_coast{
        display: flex;
        justify-content: flex-end;
        .type{
            @include text(#979797,15px);
        }
        .type_amout{
            margin-left: 100px;
}
        }
        .button {
            @include button(#ff6f00, 20px 50px, #ffffff);
            margin-right: 0;
        }
    }