@import "../../../../../../assets/scss/mixin.scss";
@import "../../../../../../assets/scss/global.scss";
.form_conteiner {
    margin: 50px auto;
    .forget_password {
        .label {
            @include label();
            cursor: pointer;
            color: #ff6f00;
            justify-content: flex-end;
        }
    }
    .back {
        @include button(#ffffff, 20px 50px, #000000);
    }
    .next {
        @include button(#87bd3c, 20px 50px, #ffffff);
    }
}

.border {
    border: 1px solid red !important;
}

.color {
    color: red !important;
}

.opacity {
    opacity: 0.5;
}