/*==============SEGOE UI========================*/
@font-face {
    font-family: 'Segoe UI';
    src: url(/assets/fonts/SEGUISB/SEGOEUI.TTF);
    ;
}

@font-face {
    font-family: 'Segoe UI SemiBold';
    src: url(/assets/fonts/SEGUISB/SEGOEUIB.TTF)
}

@font-face {
    font-family: 'Segoe UI Italics';
    src: url(/assets/fonts/SEGUISB/SEGOEUII.TTF);
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url(/assets/fonts/SEGUISB/SEGOEUIL_0.TTF);
}

@font-face {
    font-family: 'Segoe UI SemiLight';
    src: url(/assets/fonts/SEGUISB/SEGOEUISL_0.TTF);
}

@font-face {
    font-family: 'Segoe UI Italics SemiBold';
    src: url(/assets/fonts/SEGUISB/SEGOEUIZ.TTF);
}

@font-face {
    font-family: 'Segoe UI Black';
    src: url(/assets/fonts/SEGUISB/SEGUIBL_0.TTF);
}

@font-face {
    font-family: 'Segoe UI Black Italic';
    src: url(/assets/fonts/SEGUISB/SEGUIBLI_0.TTF);
}

@font-face {
    font-family: 'Segoe UI Light Italic';
    src: url(/assets/fonts/SEGUISB/SEGUILI_0.TTF);
}

/*====================HENRIETTE=======================*/