*[full-width] {
    width: 100%;
}

*[width-90] {
    width: 90%;
}

*[width-75] {
    width: 75%;
}

*[width-fit] {
    width: fit-content
}

*[full-height] {
    height: 100%;
}

*[display-flex] {
    display: flex;
}

*[margin-auto] {
    margin: auto;
}

*[margin-side-auto] {
    margin: 0 auto;
}

*[text-align-center] {
    text-align: center;
}

*[background-color-gray] {
    background: #444444;
}

*[color-white] {
    color: white;
}

*[color-orange] {
    color: #ff6f00;
}

*[color-black] {
    color: black;
}

*[no-margin] {
    margin: 0 !important;
}

*[no-margin-bottom] {
    margin-bottom: 0 !important;
}

*[no-padding] {
    padding: 0 !important;
}

*[font-weight-light] {
    font-weight: 200;
}

*[font-weight-bold] {
    font-weight: bold;
}

*[font-family-Open-Sans] {
    font-family: 'Open Sans';
}

*[font-family-Roboto] {
    font-family: 'Roboto';
}

*[font-family-Oswald] {
    font-family: "Oswald"
}

*[position-relative] {
    position: relative;
}

*[position-absolute] {
    position: absolute;
}

*[align-items-center] {
    align-items: center;
}

*[uppercase] {
    text-transform: uppercase;
}

*[cursor-pointer] {
    cursor: pointer;
}

*[flex-wrap-wrap] {
    flex-wrap: wrap
}

*[justify-content-space-between] {
    justify-content: space-between;
}

*[margin-left-auto] {
    margin-left: auto;
}

*[float-right] {
    float: right;
}

*[background-transparent] {
    background-color: transparent !important;
}

*[background-white] {
    background-color: white !important;
}