<section full-width>
    <div class="order_content">
            <div class="order_item">
                    <div class="image" [ngStyle]="{'background-image':'url('+fileUrl+orderInfo.companydata.image+')'}"></div>
                    <p class="type" ont-family-Roboto>{{orderInfo?.companydata.name}}</p>
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eos itaque dolores
                            nam, blanditiis odio repellat consectetur vel eveniet sed officia mollitia, libero doloribus error!
                            Minus temporibus ipsa nam repellendus!</p>
            </div>
    </div>
   
</section>