@import "../../../../../../../assets/scss/mixin";

.order_content {
    &::after{
        @include after-before(20px 0,1px solid #707070);
        width: 100%;
    }
    padding: 1.2em;
    .image {
        width: 200px;
        height: 96px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
    }
    .type{
        @include text(#716b6b,19px);
        width: 100%;

    }
    .title{
        @include text(#706f6f,15px);
        width: 100%;
    }
}
