<div class="deliver_items" full-width>
    <div class="container" width-75 margin-auto>
        <div class="order_info">
            <p class="company_name" font-family-Roboto>Restrant_1 </p>
            <div class="price_info">
                <div>
                    <p font-family-Roboto font-weight-bold>Cost of delivery</p>
                    <p font-family-Roboto font-weight-bold>the price of goodes</p>
                    <p font-family-Roboto font-weight-bold>Total Coast</p>
                </div>

                <div>
                    <p font-family-Roboto>3$</p>
                    <p font-family-Roboto>30$</p>
                    <p font-family-Roboto>30$</p>
                </div>

            </div>
        </div>
        <div class="track_info">
            <div class="points">
                <div class="point">
                    <p class="text_step_item" font-family-Roboto>Driver</p>
                    <div class="circle" background-white display-flex>
                        <div class="start_point" margin-auto>

                        </div>
                    </div>
                </div>
                <div class="point">
                    <p class="text_step_item" font-family-Roboto>Restaurant</p>
                    <div class="circle" margin-side-auto>

                    </div>
                </div>
                <div class="point">
                    <p class="text_step_item" font-family-Roboto>Customer</p>
                    <div class="circle" float-right>

                    </div>
                </div>
            </div>
            <div class="line"  full-width></div>
        </div>

        <div class="button_content" display-flex (click)="showMap()">
            <button class="button" display-flex><span font-family-Roboto margin-auto>view more detalis</span></button>
        </div>

        <div class="line"  full-width></div>
        <div class="map_content" margin-auto [ngStyle]="{'max-height':detailsinfoheigth}" id="1" [ngClass]="{'details-open' : showDetails, 'details-close' : !showDetails}">
            <div class="flan" id="map" full-width></div>
        </div>


    </div>
</div>