<div class="filters_content" [ngClass]="{'open':isFilterOpen,'close':!isFilterOpen}">
        <form [formGroup]="filterForm">
                <div class="filters_list">
                        <div class="filters_list_item price_slider" formGroupName="priceGroup">
                                <div class="price_input_container">
                                        <label>
                                                <span>От</span>
                                                <input type="text" OnlyNumber="true" formControlName="startPrice">
                                        </label>
                                        <label>
                                                <span>До</span>
                                                <input type="text" OnlyNumber="true" formControlName="endPrice">
                                        </label>
                                </div>
                                <ng5-slider formControlName="price" [options]="options" [highValue]="100000">
                                </ng5-slider>
                        </div>

                        <div class="filters_list_item" *ngFor="let item of filterControls?.controls;let ind = index">
                                <label class="checkbox_container">
                                        <input type="checkbox" [formControl]="item">
                                        <span class="checkmark"></span>
                                </label>
                                <span class="filter_name">filter {{ind}}</span>
                        </div>
                        <div class="buttons">
                                <button type="submit" class="show_variants" (click)="onClickFilter()">
                                        <span>{{'show_variants' | translate}}</span>
                                </button>
                                <button type="button" class="clear_filters" (click)="onClickClearFilters()">
                                        <span>{{'clear_filters' | translate}}</span>
                                </button>
                        </div>
                </div>
        </form>

</div>